:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-black-color: #000000;
  --text-footer-contact-color: rgba(255, 255, 255, 0.6);
  --filters-background-color: #f5f4fa;
  --main-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
}

body {
  background-color: var(--main-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* List style */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------HEADER------------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

/* ----------logo---------- */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.logo-header {
  color: var(--primery-black-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

/* ----------site-nav---------- */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .active-page {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.address .link:hover,
.address .link:focus,
.address .link-maps:hover,
.address .link-maps:focus {
  color: var(--accent-color);
}

/* ----------contact-header---------- */
.contact {
  display: flex;
  margin-left: auto;
}

.contact .item:not(:last-child) {
  margin-right: 50px;
}

.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* -------------------------HERO------------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--second-bg-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Filters */
.filters-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--title-text-color);
  background-color: var(--filters-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus,
.active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* -------------------------SECTION------------------------- */

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--main-bg-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  line-height: 1.71;
}

/* -------------------------FEATURE------------------------- */

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 25%;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* -------------------------WORK LIST------------------------- */

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-list .item {
  width: 33.3333%;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.image {
  display: block;
}
/* -------------------------OUR TEAM------------------------- */

.team {
  background-color: var(--third-bg-color);
}

.command {
  display: flex;
}

.command .item {
  width: 25%;
}

.command .item:not(:last-child) {
  margin-right: 30px;
}

.command .photo {
  margin-bottom: 30px;
}

.command .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command .description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -------------------------FOOTER------------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-bg-color);
}

.footer .logo {
  padding: 0;
  margin-bottom: 20px;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  color: var(--text-footer-contact-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address .link-maps {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

/* -------------------------PORTFOLIO------------------------- */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.work-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
  padding: 20px 24px;
}

.portfolio .link {
  text-decoration: none;
  color: var(--title-text-color);
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
